<p-toolbar>
    
  
    <div>
      <div class="p-d-flex">
        <a href="/home">
          <b>
            <img src="assets/images/logo3.png" alt="home" />
          </b>
          <span>
            <img src="assets/images/logo-text-mobilia.png" alt="home" />
          </span>
        </a>
      </div>
    </div>
  
    <div class="p-toolbar-group-right">
  
      
  
      <button pButton type="button" (click)="loadDataFromFile('test.js')" class="p-button-raised p-button-text"
        icon="pi pi-list"></button>
  
    </div>
  </p-toolbar>
<div class="p-d-flex p-flex-wrap main-container">
    
    
        <p-card class="p-col-8 "  >
            <ng-template pTemplate="header">
             
                <div class="p-d-flex p-jc-between p-ai-center p-mx-4 ">
                    <div><h2>Ricerca Utenti</h2></div>
                    <div><button pButton pRipple  icon="pi pi-plus" class="p-button-success "
                        (click)="nuovoUtente()"></button></div>
                    
                </div>
            </ng-template>
            <p-table #dt [value]="clienti" [rows]="20" [scrollable]="true"  [rowHover]="true" dataKey="id" styleClass="p-datatable-sm p-datatable-striped"
                [globalFilterFields]="['nominativo','telefono','cellulare']"scrollHeight="250px"
                [virtualScroll]="true" [virtualRowHeight]="34"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                >
                <ng-template pTemplate="caption">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="search" (input)="dt.filterGlobal(search,'contains')"
                                placeholder="Cerca..." />
                        </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nominativo </th> 
                        <th>Tel/Cell </th>
                        <th>Indirizzo</th>
                        <th>Città </th> 
                            
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr (click)="selectCliente(cliente)">
                        <td>{{cliente.nominativo}}</td>
                        <td>{{cliente.telefono}} {{cliente.cellulare}}</td>
                        <td>{{cliente.indirizzo}}</td>
                        <td>{{cliente.citta}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    
    <p-card class="p-col-4 p-as-stretch" header="Dettagli cliente">
       <div class="p-d-flex p-flex-column">
            <div class="clientField"> <b>Nominativo:</b> {{selCliente.nominativo}}</div>
            <div class="clientField"> <b>Luogo Nascita:</b> {{selCliente.luogoNascita}}</div>
            <div class="clientField"><b>Data Nascita:</b> {{selCliente.dataNascita}}</div>
            <div class="clientField"><b>Tel/Cell:</b> {{selCliente.telefono}}/{{selCliente.cellulare}} </div>
            <div class="clientField"><b>Indirizzo:</b> {{selCliente.indirizzo}}</div>
            <div class="clientField"><b>CAP:</b> {{selCliente.cap}} </div>
            <div class="clientField"><b>Citta:</b> {{selCliente.citta}}</div>
            <div class="clientField"><b>CF/p.iva:</b> {{selCliente.cf}} {{selCliente.piva}}</div>
       </div>
       <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
    </p-card> 

    <p-card class="p-col-12" >
        <ng-template pTemplate="header">
             
            <div class="p-d-flex p-jc-between p-ai-center p-mx-4 ">
                <div><h2>Caldaie</h2></div>
                <div><button pButton pRipple  icon="pi pi-plus" class="p-button-success "
                    (click)="newCaldaia()"></button></div>
                
            </div>
        </ng-template>
        <p-table #dt *ngIf="selCliente.caldaie!=null" [value]="selCliente.caldaie">
            <ng-template pTemplate="header">
                <tr>
                    <th>Titolo </th>
                    <th>Scadenza </th>
                    <th>Scad. Anno </th>
                    <th>Scad. Bollo</th>
                    <th>Importo </th> 
                    <th>Note</th>     
                    <th></th> 
                    <th></th> 
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-caldaia>
                <tr>
                    <td>{{caldaia.titolo}}</td>
                    <td>{{caldaia.scadenza}}</td>
                    <td>{{caldaia.scadanno}} </td>
                    <td>{{caldaia.scadbollo}}</td>
                    <td>{{caldaia.importo}}</td>
                    <td colspan="2">{{caldaia.annotazione}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editCaldaia(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteCaldaia(product)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card> 
    <p-card  class="p-col-12">
        <ng-template pTemplate="header">
             
            <div class="p-d-flex p-jc-between p-ai-center p-mx-4 ">
                <div><h2>Stufe</h2></div>
                <div><button pButton pRipple  icon="pi pi-plus" class="p-button-success "
                    (click)="newStufa()"></button></div>
                
            </div>
        </ng-template>
        
        
        <p-table #dt *ngIf="selCliente.stufe!=null" [value]="selCliente.stufe">
            <ng-template pTemplate="header">
                <tr>
                    <th>Titolo </th> 
                    <th>Scad. Anno </th>
                    <th>Scad. Bollo</th>
                    <th>Importo </th> 
                    <th>Note</th>
                    <th></th> 
                    <th></th>      
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stufa>
                <tr>
                    <td>{{stufa.titolo}}</td>
                    <td>{{stufa.scadanno}} </td>
                    <td>{{stufa.scadbollo}}</td>
                    <td>{{stufa.importo}}</td>
                    <td colspan="2">{{stufa.annotazione}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editStufa(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteStufa(product)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card> 

<!--     DIALOG NUOVO CLIENTE -->
    <p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">

    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && saveCliente()" novalidate>

        <div class="form-group">
            <label for="name">Titolo</label>
            <input pInputText required autofocus type="text" class="form-control" id="name" name="name" #name="ngModel"
                [(ngModel)]="selCliente.nominativo" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" />
            <div *ngIf="name.dirty  && name.touched && name.invalid">
                <div class="alert-danger" *ngIf="name.errors.required">
                    inserisci un nome
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="brand">Luogo Nascita</label>
            <input pInputText type="text" class="form-control" id="lnascita" name="lnascita" #lnascita="ngModel"
                [(ngModel)]="selCliente.luogoNascita" [ngClass]="{ 'is-invalid': f.submitted && lnascita.invalid }" />
            <div *ngIf="lnascita.dirty  && lnascita.touched && lnascita.invalid">
                <div class="alert-danger" *ngIf="lnascita.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="brand">telefono</label>
            <input pInputText type="text" class="form-control" id="telefono" name="telefono" #telefono="ngModel"
                [(ngModel)]="selCliente.luogoNascita" [ngClass]="{ 'is-invalid': f.submitted && telefono.invalid }" />
            <div *ngIf="telefono.dirty  && telefono.touched && telefono.invalid">
                <div class="alert-danger" *ngIf="telefono.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="brand">cellulare</label>
            <input pInputText type="text" class="form-control" id="cellulare" name="cellulare" #cellulare="ngModel"
                [(ngModel)]="selCliente.luogoNascita" [ngClass]="{ 'is-invalid': f.submitted && cellulare.invalid }" />
            <div *ngIf="cellulare.dirty  && cellulare.touched && cellulare.invalid">
                <div class="alert-danger" *ngIf="telefono.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="brand">Indirizzo</label>
            <input pInputText type="text" class="form-control" id="Indirizzo" name="Indirizzo" #Indirizzo="ngModel"
                [(ngModel)]="selCliente.luogoNascita" [ngClass]="{ 'is-invalid': f.submitted && Indirizzo.invalid }" />
            <div *ngIf="Indirizzo.dirty  && Indirizzo.touched && Indirizzo.invalid">
                <div class="alert-danger" *ngIf="telefono.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="brand">cap</label>
            <input pInputText type="text" class="form-control" id="cap" name="cap" #cap="ngModel"
                [(ngModel)]="selCliente.luogoNascita" [ngClass]="{ 'is-invalid': f.submitted && cap.invalid }" />
            <div *ngIf="cap.dirty  && cap.touched && cap.invalid">
                <div class="alert-danger" *ngIf="telefono.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="brand">cf</label>
            <input pInputText type="text" class="form-control" id="cf" name="cf" #cf="ngModel"
                [(ngModel)]="selCliente.luogoNascita" [ngClass]="{ 'is-invalid': f.submitted && cf.invalid }" />
            <div *ngIf="cf.dirty  && cf.touched && cf.invalid">
                <div class="alert-danger" *ngIf="telefono.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="brand">piva</label>
            <input pInputText type="text" class="form-control" id="piva" name="piva" #piva="ngModel"
                [(ngModel)]="selCliente.luogoNascita" [ngClass]="{ 'is-invalid': f.submitted && piva.invalid }" />
            <div *ngIf="piva.dirty  && piva.touched && piva.invalid">
                <div class="alert-danger" *ngIf="telefono.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>

    </form>

</p-dialog>
</div>
<p-toast position="top-center" key="tc" ></p-toast>
